[user]
	name = Emmanuel Gomez
	email = emmanuel@gomez.io
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG7gnZJ+I0BvCHOU0CFWjC0qheQq0YY2PP3eYKDu6Qko

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  # program = /opt/homebrew/bin/gpg

[core]
  excludesfile = ~/.gitignore
  editor = zed --wait

[init]
  defaultBranch = main

[merge]
  tool = opendiff

[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitten diff $LOCAL $REMOTE

[credential]
  helper = osxkeychain

[push]
  default = current
  autoSetupRemote = true

[pull]
  default = current
  rebase = true

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[rerere]
  enabled = true
  autoupdate = true

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[github]
  user = emmanuel
  # token = !security 2>&1 >/dev/null find-generic-password -gs \"Github API Token\" | ruby -e 'print  if STDIN.gets =~ /^password: \\"(.*)\\"$/'
  # token = !security 2>&1 >/dev/null find-generic-password -ws \"Github API Token\"

# Use SSH instead of HTTPS for Github
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

# Use SSH instead of HTTPS for GitLab
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

# Use SSH instead of HTTPS for Bitbucket
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout

  df = diff
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  b = branch
  ds = diff --stat=160,120
  dh1 = diff HEAD~1

  # Divergence (commits we added and commits remote added)
  div = divergence

  # Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!source ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!source ~/.githelpers && pretty_git_log"
  la = !git l --all

  slog  = !git --no-pager log --format=oneline --abbrev-commit
  dfnp  = !git --no-pager diff
  exec = '!exec '
  root = rev-parse --show-toplevel

  # Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff
  # `git log` with patches shown with difftastic.
  dl = -c diff.external=difft log -p --ext-diff
  # Show the most recent commit with difftastic.
  ds = -c diff.external=difft show --ext-diff
  # `git diff` with difftastic.
  dft = -c diff.external=difft diff

  lg = log -p
  who = shortlog -s --
  up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
